html,
body,
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    animation: FadeInAnimation ease 1s;
    animation-iteration-count: 1s;
    animation-fill-mode: forwards;
}

@keyframes FadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 3;
    }
}

body{
    font-family: 'Fjalla One', sans-serif;
}

.title{
    text-align: center;
    font-size: 10rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);
}

.body{
    background-color: rgb(230, 35, 35);
}

img{
    height:25rem;
    transition: all 0.3s;
}

img:hover{
    height: 30rem;
}

.main-div{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 0 auto;
    box-shadow: none;
    border: none;
}

div{
    text-align: center;
    font-size: 3rem;
    border: solid 1rem rgb(0, 0, 0);
    flex: 0 32%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 10px 5px 5px rgb(255, 252, 75);
    transition: all 0.3s;
}

div:hover {
 background-color: rgb(230, 45, 45);
}

.text{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.animation{
    height: 2rem;
    width: 2rem;
    animation: test 4s infinite;
    position: absolute;
}

@keyframes test{
    0%{
        left: 50%;
        bottom: 10%;
        background-color: red;

    }
    25%{
        left: 50%;
        bottom: 20%;
        background-color: red;

    }
    50%{
        left: 55%;
        bottom: 20%;
        background-color: red;

    }
    75%{
        left: 55%;
        bottom: 10%;
        background-color: red;

    }
    100%{
        left: 50%;
        bottom: 10%;
        background-color: rgb(23, 154, 206);

    }
}

@keyframes bingchili{


    from {
        transform: translateY(0)
    }
    50% {
        transform:hover translateY(5rem)
    }
    to{
        opacity: 0;
    }
}

.dun:hover{
    transform: matrix(0.5, 0.6, 0.7, 0.8, 0.9, 1)
}

.lordsavior:hover{
    transform: rotate(0.5turn);
}