html,
body,
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Fjalla One', sans-serif;
}

.title{
    text-align: center;
    font-size: 10rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);
}

.body{
    background-color: rgb(230, 45, 45);
}

img{
    height: 25rem;
}

.main-div{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 0 auto;
    box-shadow: none;
    border: none;
}

div{
    text-align: center;
    font-size: 3rem;
    border: solid 1rem rgb(0, 0, 0);
    flex: 0 32%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 10px 5px 5px rgb(255, 252, 75);
}

.text{
    font-size: 3rem;
    padding-bottom: 2rem;
}