html,
body,
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    animation: FadeInAnimation ease 2.5s;
    animation-iteration-count: 1s;
    animation-fill-mode: forwards;
}

@keyframes FadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body{
    font-family: 'Fjalla One', sans-serif;
}

.title{
    text-align: center;
    font-size: 10rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);
}

.body{
    background-color: rgb(230, 35, 35);
}

img{
    height:25rem;
    transition: all 0.3s;
}

img:hover{
    height: 30rem;
}

.main-div{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 0 auto;
    box-shadow: none;
    border: none;
}

div{
    text-align: center;
    font-size: 3rem;
    border: solid 1rem rgb(0, 0, 0);
    flex: 0 32%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 10px 5px 5px rgb(255, 252, 75);
    transition: all 0.3s;
}

div:hover {
 background-color: rgb(230, 45, 45);
}

.text{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.animation{
    height: 2rem;
    width: 2rem;
    animation: test 4s infinite;
    position: absolute;
}

@keyframes bingchili{
    from {
        transform: translateY(0)
    }
    50% {
        transform:hover translateY(5rem)
    }
    to{
        opacity: 0;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.tom:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;

}

.dun:hover{
    transform: matrix(0.5, 0.6, 0.7, 0.8, 0.9, 1)
}

.lordsavior:hover{
    transform: rotate(0.5turn);
}

.bingchili:hover{
    display: none;
}

.bingchili{
    transition: all 1s ease-in;
    z-index: 2;
}

.see{
    position: absolute;
    top: 90rem;
    left: 90rem;
    z-index: -1;
}

.title {
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


@media screen and (max-width: 1000px){
    .title{
        color: rgb(223, 39, 39);
    }

}

@media screen and (max-width: 768px){
    .title{
        color: rgb(18, 201, 94);
    }

}

@media screen and (max-width: 375px){
    .title{
        color: lightblue;
    }

}